body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.event-page {
  background-color: lightblue;
  margin: auto;
  width: 70vw;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px
}

#event-date {
  
}

.event-details {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: auto;
  width: 70vw;
  
}

#event-updates {
  border: 3px solid darkgreen; 
}